.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .wrap-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
