.todo-list {
  padding: 30px 10px;

  list-style: none;
}

.item-todo {
  display: flex;
  gap: 20px;

  height: 70px;

  margin-bottom: 20px;
  padding: 10px 20px 10px 0;

  background-color: var(--item-todo-bg-color);
  border-radius: 15px;

  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);

  font-size: 18px;

  cursor: pointer;

  transition: background-color 0.5s;
}

.item-todo:hover {
  background-color: var(--item-todo-bg-color-hover);
}

.item-todo__checkbox {
  flex: 0 0 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  align-self: center;

  border-right: 1px solid #003865;
}

.item-todo__checkbox input {
  width: 20px;
  height: 20px;
}

.item-todo__info {
  flex: 1 1 auto;
}
