.todo-list {
  padding: 30px 10px 0 10px;

  list-style: none;
}

.item-todo {
  position: relative;

  display: flex;
  align-items: center;
  gap: 20px;

  min-height: 70px;

  margin-bottom: 20px;
  padding: 10px 20px 10px 10px;

  background-color: var(--item-todo-bg-color);
  border-radius: 15px;

  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);

  font-size: 1.2rem;

  transition: background-color 0.5s;
}

.item-todo:last-child {
  margin-bottom: 0px;
}

.item-todo__info {
  flex: 1 1 auto;
  padding-right: 65px;
  cursor: pointer;
}
.item-todo__info.checked {
  text-decoration: line-through;
}
.item-todo__info.important {
  font-weight: 700;
  color: #ea5d61;
}

.item-todo__btn {
  flex: 0 0 auto;
}

.item-todo__btn-wrap {
  position: absolute;
  right: 20px;

  display: flex;
  justify-content: flex-end;
  align-self: flex-end;

  width: 50px;

  background-color: #003865;
  border-radius: 5px;
  overflow: hidden;

  transition: width 0.3s;
}

.item-todo__btn-wrap_open {
  width: 200px;

  z-index: 10;
}

@media (max-width: 480px) {
  .item-todo {
    padding: 10px 0;
    font-size: 1rem;
  }

  .item-todo__btn-wrap {
    right: 10px;
  }
}
