.add-task-btn {
  position: fixed;
  z-index: 20;
  bottom: 60px;

  transform: translateX(-150%);
}

.btn.add-task-btn__btn {
  height: 70px;
  width: 70px;

  outline: none;
  border: 1px solid var(--add-task-bg-color);
  background-color: var(--add-task-bg-color);
  border-radius: 50%;

  font-size: 3rem;
  color: var(--add-task-color);

  cursor: pointer;

  transition: all 0.2s;
}

.add-task-btn__btn:hover {
  background-color: var(--add-task-color);
  color: var(--add-task-bg-color);
}

.add-task-btn__btn:active {
  transform: scale(0.95);
}
