@import '../../styles/defaults.scss';

.main {
  display: flex;
  justify-content: center;
  justify-content: center;

  min-height: calc(100vh - $heightHeader);

  width: 100%;
  padding: 10px 20px;
}
