@import '../../styles/defaults.scss';

$mainpadding: 20px;

.book-page {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1200px;

  min-height: calc(100vh - $heightHeader - $mainpadding);
  height: 1px;

  padding: 40px 10px;

  -webkit-box-shadow: 0px 0px 24px 2px rgba(34, 60, 80, 0.37);
  -moz-box-shadow: 0px 0px 24px 2px rgba(34, 60, 80, 0.37);
  box-shadow: 0px 0px 24px 2px rgba(34, 60, 80, 0.37);

  overflow: hidden;

  transform: scale(0.8);
  opacity: 0;
  transition: all 300ms ease-in;

  &.animation {
    transform: scale(1);
    opacity: 1;
  }
}

.book-page__img-wrap {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 100%;

  .book-page__img-wrap_img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  max-width: 50%;
  padding-left: 20px;

  .info__title {
    font-size: 30px;
  }
  .info__authors {
    font-size: 28px;
    color: grey;
  }
  .info__category {
    font-size: 16px;
    color: rgb(199, 199, 199);
  }
}

.book-card__button {
  @extend %defaultsButton;

  position: absolute;
  top: -16px;
  left: -35px;

  width: 100px;
  height: 60px;

  padding-top: 30px;

  background-color: #d3d3d34a;

  border-bottom: 1px solid gray;
  transform: rotate(-45deg);

  color: gray;

  &:hover {
    transform: rotate(-45deg);
  }
  &:active {
    transform: scale(0.95) rotate(-45deg);
  }
}

@media only screen and (max-width: 640px) {
  .info-wrap {
    .info__title {
      font-size: 22px;
    }
    .info__authors {
      font-size: 18px;
    }
    .info__category {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .book-page {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .book-page__img-wrap {
    width: 100%;
  }
  .info-wrap {
    max-width: 100%;
    padding-left: 0px;

    .info__title,
    .info__authors,
    .info__category {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
