.logo {
  width: 65px;
  height: 65px;

  border: 3px solid #fff;
  border-radius: 50%;
}

.logo__link {
  display: inline-block;

  width: 100%;
  padding: 7px;
}

.logo__link img {
  width: 100%;
}

@media (max-width: 480px) {
  .logo {
    width: 45px;
    height: 45px;
  }
}
