@import '../../../styles/defaults';

.spinner-wrap {
  position: fixed;

  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
