.add-task {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  padding: 10px;

  background-color: rgba(169, 169, 169, 0.479);
}

.add-task_closed {
  display: none;
}

.form-add-task {
  position: relative;
  width: 100%;
  max-width: var(--max-width);

  margin: 0 auto;

  height: 170px;
  padding: 10px 20px;

  background-color: var(--form-bg-color);
  border-radius: 10px;
}

.form-add-task__wrap {
  padding: 20px 0;
}
.form-add-task__title {
  padding-left: 10px;
  margin-bottom: 5px;

  font-size: 1.15rem;
}

.form-add-task__input-text {
  width: 100%;
  padding: 5px 20px 5px 5px;

  font-size: 1rem;

  border-radius: 5px;
}

.form-add-task__btn-wrap {
  position: absolute;
  right: 30px;

  display: flex;
  justify-content: space-around;

  width: 120px;

  background-color: #003865;
  border-radius: 5px;
  overflow: hidden;
}
