@import '../../styles/defaults';

.header {
  display: flex;
  justify-content: center;

  width: 100%;

  background: url('../../assets/header_fon.jpg') center no-repeat;
  background-size: cover;

  color: $colorReaderText;
}
