.main_page {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.main_page__body {
  width: 100%;
  padding: 20px;

  background-color: #004c80;
}

.main_page__logo {
  max-width: 150px;
  max-height: 150px;
  margin: 2.5rem auto 1.5rem;
  padding: 15px;

  border-radius: 50%;
  border: 3px solid #fff;
}

.main_page__logo img {
  width: 100%;
}

.main_page__title {
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  color: #ea5d61;
  text-align: center;
}

.main_page__text {
  font-size: 1.2rem;
}
