#root {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;

  background-color: var(--app-bg-color);

  box-shadow: var(--app-box-shadow);
  -webkit-box-shadow: var(--app-box-shadow);
  -moz-box-shadow: var(--app-box-shadow);

  overflow: hidden;
}
