:root {
  --body-padding: 10px;

  --header-height: 80px;

  --app-bg-color: #003865;
  --box-shadow: 0px 5px 3px 0px rgba(0, 52, 92, 1);

  --header-bg-color: #026eaf;

  --item-todo-bg-color: #004c80;
  --item-todo-bg-color-hover: #026eaf;

  --link-color: #fff;
  --link-color-hover: #ea5d61;
  --link-color-active: #ea5d61;

  --add-task-color: #004c80;
  --add-task-bg-color: #fff;

  --color: #fff;

  --form-bg-color: #004c80;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
}

body {
  color: var(--color);
}

.page {
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

.custom__button {
  align-self: center;

  width: 45px;
  height: 45px;
  padding: 10px;

  outline: none;
  border: none;
  background: none;

  cursor: pointer;

  transition: transform 0.2s;
}

.custom__button img {
  width: 100%;
  object-fit: contain;
}

.custom__button:hover {
  transform: scale(1.5);
}
