:root {
  --body-padding: 10px;

  --header-height: 80px;

  --app-bg-color: #003865;
  --box-shadow: 0px 5px 3px 0px rgba(0, 52, 92, 1);

  --header-bg-color: #026eaf;

  --item-todo-bg-color: #004c80;
  --item-todo-bg-color-hover: #026eaf;

  --link-color: #fff;
  --link-color-hover: #ea5d61;
  --link-color-active: #ea5d61;

  --add-task-color: #004c80;
  --add-task-bg-color: #fff;

  --color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
}

body {
  color: var(--color);
}

.page {
  min-height: calc(100vh - var(--header-height));
}
