@import '../../styles/defaults.scss';

.form__wrap-search {
  position: relative;

  width: 100%;

  .form__input {
    @extend %defaultsInputText;

    width: 100%;
    height: 32px;
    padding: 5px 41px 5px 5px;

    border: 1px solid black;

    &:focus {
      background-color: $colorReaderText;
    }
  }

  .form__button {
    @extend %defaultsButton;

    position: absolute;
    top: 1px;
    right: 1px;

    width: 40px;
    height: 30px;

    border-left: 2px solid gray;
    border-radius: 0 5px 5px 0;

    background: url('../../assets/search.png') center no-repeat;
    background-size: 30px 90%;
    cursor: pointer;
    transition: all 0.1s;
  }
}
