* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html,
body {
  position: relative;

  height: 100%;
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }
}
