* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
  min-height: 100vh;
}

:root {
  --header-top-height: 40px;
  --header-bottom-height: 60px;
}

.button {
  display: inline-block;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

.header {
  position: relative;

  box-shadow: 0px 60px 96px rgba(0, 0, 0, 0.00719002),
    0px 30.0293px 48.0469px rgba(0, 0, 0, 0.0104523),
    0px 18.0882px 28.9412px rgba(0, 0, 0, 0.0128732),
    0px 11.5919px 18.547px rgba(0, 0, 0, 0.015),
    0px 7.51293px 12.0207px rgba(0, 0, 0, 0.0171268),
    0px 4.72931px 7.56689px rgba(0, 0, 0, 0.0195477),
    0px 2.71728px 4.34765px rgba(0, 0, 0, 0.02281),
    0px 1.19595px 1.91351px rgba(0, 0, 0, 0.03);
}

.header-background {
  position: absolute;
  width: 100%;
}

.header-background_top {
  top: 0;
  height: 40px;
  background-color: #181a31;
}

.header-background_bottom {
  top: 40px;
  height: 60px;
  background-color: #fff;
}

.header-wrapper {
  position: relative;
  z-index: 10;

  display: grid;
  grid-template-rows: 40px 30px 30px;
  grid-template-columns: 100px 1fr 67px 131px 113px;

  grid-template-areas:
    'lang-switch top-nav search search search'
    'bottom-nav bottom-nav phone phone shopping-cart'
    'bottom-nav bottom-nav social-media order-call shopping-cart';

  align-items: center;

  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

/*** Language switcher ************************************************/

.lang-switch {
  position: relative;
  grid-area: lang-switch;

  max-width: 20px;
}
.lang-switch__btn {
  position: relative;

  width: 21px;

  font-weight: 600;
  font-size: 12px;
  color: #ffffff80;
  text-transform: uppercase;
}

.lang-switch__btn_open::after,
.lang-switch__btn::after {
  position: absolute;

  top: 6px;
  right: -5px;
  content: '';
  width: 5px;
  height: 5px;
}

.lang-switch__btn::after {
  background: url('../assets/svg/triangle_down.svg') center/100% no-repeat;
}

.lang-switch__btn_open::after {
  background: url('../assets/svg/triangle_up.svg') center/100% no-repeat;
}

.lang-switch-selection {
  position: absolute;
  top: 22px;
  left: 1px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 51px;
  height: 76px;

  background: #ffffff;
  border-radius: 5px;

  filter: drop-shadow(0px 60px 96px rgba(0, 0, 0, 0.00719002))
    drop-shadow(0px 30.0293px 48.0469px rgba(0, 0, 0, 0.0104523))
    drop-shadow(0px 18.0882px 28.9412px rgba(0, 0, 0, 0.0128732))
    drop-shadow(0px 11.5919px 18.547px rgba(0, 0, 0, 0.015))
    drop-shadow(0px 7.51293px 12.0207px rgba(0, 0, 0, 0.0171268))
    drop-shadow(0px 4.72931px 7.56689px rgba(0, 0, 0, 0.0195477))
    drop-shadow(0px 2.71728px 4.34765px rgba(0, 0, 0, 0.02281))
    drop-shadow(0px 1.19595px 1.91351px rgba(0, 0, 0, 0.03));

  transform: scale(0);
  visibility: hidden;
  transition: transform 0.3s, visibility 0.5s;
}

.lang-switch-selection_open {
  transform: scale(1);
  visibility: visible;
  transition: transform 0.3s, visibility 0.1s;
}

.lang-switch-selection__btn {
  padding: 5px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #181a3180;
  text-transform: uppercase;
  transition: 0.3s;
}

.lang-switch-selection__btn_active,
.lang-switch-selection__btn:hover {
  color: #008df8cc;
}

/*** Search *******************************************************/
.search {
  position: relative;

  grid-area: search;

  padding-left: 40px;
}

.search__input {
  width: 100%;
  padding: 5px 20px 5px 10px;
  background-color: #ffffff1a;
  border: none;
  outline: none;
  border-radius: 5px;

  color: #fff;

  font-size: 14px;
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 20px;
}

.search__btn {
  position: absolute;
  right: 8px;
  top: 6px;

  width: 18px;
  height: 20px;
}

.btn-search__img {
  width: 14px;
  height: 14px;
}

/*** Nav *******************************************************/
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list__btn:hover,
.nav-list__link:hover {
  color: #008ef8;
}

.nav-list__link,
.nav-list__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #181a31;
  text-decoration: none;
  transition: 0.3s;
}

.nav-list__btn {
  position: relative;
  padding: 0 19px 0 0px;
}

.nav-list__btn_bottom::after {
  position: absolute;
  top: 0;
  right: -4px;

  content: '';

  width: 18px;
  height: 18px;

  background: url('../assets/svg/chevron-down.svg') center no-repeat;
}

.nav-list__btn_bottom:hover::after {
  background: url('../assets/svg/chevron-down-color.svg') center no-repeat;
}

.nav-list__btn_bottom.open::after {
  background: url('../assets/svg/chevron-top.svg') center no-repeat;
}

.nav-list__btn_bottom.open:hover::after {
  background: url('../assets/svg/chevron-top-color.svg') center no-repeat;
}

/*** Top Nav *******************************************************/
.top-nav {
  grid-area: top-nav;
}

.nav-list__item_top {
  padding: 0 25px;
  border-left: 1px solid #ffffff1a;
  border-right: 1px solid #ffffff1a;
}

.nav-list__item_top:last-child {
  border-right: none;
}
.nav-list__item_top:first-child {
  border-left: none;
}

.nav-list__link_top {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fffc;
}

.nav-list__link_top:hover {
  color: #fffc;
}

/*** Bottom nav *******************************************************/
.bottom-nav {
  grid-area: bottom-nav;
}

.nav-list_bottom {
  position: relative;

  justify-content: center;

  padding-left: 88px;

  list-style: none;
}

.nav-list__item_bottom {
  position: relative;
  margin-left: 40px;
}

/******* Sub nav **************************/

.nav-list_sub {
  flex-direction: column;

  position: absolute;
  top: 45px;
  right: -13px;
  z-index: 10;

  width: 156px;
  padding: 8px 0;

  background-color: #ffffff;
  border-radius: 5px;
  filter: drop-shadow(0px 60px 96px rgba(0, 0, 0, 0.00719002))
    drop-shadow(0px 30.0293px 48.0469px rgba(0, 0, 0, 0.0104523))
    drop-shadow(0px 18.0882px 28.9412px rgba(0, 0, 0, 0.0128732))
    drop-shadow(0px 11.5919px 18.547px rgba(0, 0, 0, 0.015))
    drop-shadow(0px 7.51293px 12.0207px rgba(0, 0, 0, 0.0171268))
    drop-shadow(0px 4.72931px 7.56689px rgba(0, 0, 0, 0.0195477))
    drop-shadow(0px 2.71728px 4.34765px rgba(0, 0, 0, 0.02281))
    drop-shadow(0px 1.19595px 1.91351px rgba(0, 0, 0, 0.03));

  list-style: none;

  transform-origin: center top;
  transform: scaleY(0);
  visibility: hidden;
  transition: transform 0.3s, visibility 0.5s;
}

.nav-list_sub.open {
  transform: scaleY(1);
  visibility: visible;
}

.nav-list__link_sub {
  display: block;

  padding: 10px 15px;
  height: 100%;

  transition: background-color 200ms;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #181a31cc;
  text-align: center;
  transition: 0.3s;
}

.nav-list__link_sub:hover {
  color: #0081e1;
}

/*** Phone *******************************************************/

.phone {
  grid-area: phone;

  padding: 0 0px 0 39px;
  height: 25px;
}

.phone__link {
  color: #181a31;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
}

/*** Social media *******************************************************/

.social-media {
  grid-area: social-media;

  display: flex;
  justify-content: space-evenly;
}

.social-media__img {
  height: 16px;
  width: 16px;
}

/*** Order call *******************************************************/
.order-call {
  grid-area: order-call;
  align-content: start;

  height: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.order-call__link {
  color: #181a3180;
  text-decoration: none;
}

/*** Shopping cart *******************************************************/
.shopping-cart {
  position: relative;

  grid-area: shopping-cart;

  display: flex;

  height: 36px;
  padding-left: 20px;

  border-left: 1px solid #d3d3d3;
}

.shopping-cart__purchases {
  position: absolute;
  top: 0;
  left: 29px;

  padding: 0px 4px;

  border-radius: 50%;
  background-color: #fc4646;

  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  color: #fff;
}

.shopping-cart__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.shopping-cart__img {
  width: 18px;
  height: 18px;
}

.shopping-cart__title {
  padding-left: 8px;
  font-size: 16px;
  color: #0078d1;
}

@media (max-width: 1024px) {
  .header-wrapper {
    grid-template-columns: 40px 1fr 67px 130px 113px;
  }
  .nav-list__item_top {
    padding: 0px 20px;
  }
  .nav-list_bottom {
    padding-left: 0;
  }
}

@media (max-width: 860px) {
  .nav-list__item_top {
    padding: 0px 10px;
  }

  .nav-list__item_bottom {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .top-nav,
  .search,
  .bottom-nav,
  .header-background_top {
    display: none;
  }
  .header-background_bottom {
    top: 0;
    height: 50px;
  }
  .header-wrapper {
    grid-template-rows: 25px 25px;
    grid-template-columns: minmax(30px, 3fr) minmax(40px, 2fr) 90px 137px 130px 50px;

    grid-template-areas:
      '. lang-switch social-media phone shopping-cart burger'
      '. lang-switch social-media  order-call shopping-cart burger';

    padding: 0;
  }

  .lang-switch__btn {
    color: #181a3180;
  }

  .shopping-cart {
    padding-left: 17px;
  }

  .phone {
    padding: 0;
  }

  .phone__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .order-call {
    padding-left: 26px;

    font-size: 12px;
  }

  .social-media {
    padding-top: 5px;
  }

  .lang-switch__btn {
    width: 30px;
  }

  .lang-switch__btn::after {
    right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .lang-switch,
  .social-media,
  .order-call,
  .phone {
    display: none;
  }

  .header-wrapper {
    grid-template-rows: 50px;
    grid-template-columns: 1fr 50px 50px;

    grid-template-areas: '. shopping-cart burger';
  }

  .shopping-cart {
    border: none;
  }

  .shopping-cart__title {
    display: none;
  }
}
